<!DOCTYPE html>
<html lang="ru">
<head>
    <title>РоботПлюс</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="style.css" rel="stylesheet" type="text/css">

l
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/x-icon" href="logo.png">
</head>

<body class="spectrum-bg">

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light spectrum-bg-nav" style="background-color: #e3f2ff;">
        <a class="navbar-brand" href="#" style="background-color: #e3f2fd;">
            <img src="logo3.png" alt="Logo" style="margin-left: 35%;" width="30" height="30" class="d-inline-block align-text-top fs-3 font-monospace" > РоботПлюс
        </a>
        <div class="collapse navbar-collapse justify-content-end me-5" id="navbarSupportedContent" >
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item me-3"><a class="nav-link text-dark" aria-current="page" href="#">Главная</a></li>
                <li class="nav-item me-3"><a class="nav-link text-dark" aria-current="page" href="#IoT">Интернет вещей</a></li>
                <li class="nav-item me-3"><a class="nav-link text-dark" aria-current="page" href="#robots">Наши роботы</a></li>
            </ul>
        </div>

        <button class="navbar-toggler bg-transparent" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>

<section>
    <br><br>
    <div class="container text-light">
        <h2> Мы - РоботПлюс, современная IT компания! </h2>
        <p>Мы создаем и настраиваем умных роботов для интернета вещей по вашим запросам и требованиям.</p>
    </div>
    <br>
    <div class="container text-light">
        <h2>Почему же вам стоит выбрать именно нас?</h2>
        <p>Мы занимаемся разработкой умных устройств уже на протяжении 20 лет и активно развиваемся вместе с современными
            тенденциями и технологиями. Мы преуспели во многом, но в особенности...</p>
        <br>
        <h2></h2>
        <div class="container text-center text-light">
            <div class="row mx-auto mt-3">
                <div class="col-xl my-2 mx-2">
                    <img src="success/1.jpg" alt="" class="img-fluid scale" width="313" height="400">><br><br>
                    <p>20 лет опыта работы</p>
                </div>
                <div class="col-xl my-2 mx-2">
                    <img src="success/2.jpg" alt="" class="img-fluid scale"><br><br>
                    <p>Мировое сотрудничество</p>
                </div>
                <div class="col-xl my-2 mx-2">
                    <img src="success/3.jpg" alt="" class="img-fluid scale" width="280" height="400"><br><br>
                    <p>Коллективная работа</p>
                </div>
            </div>
        </div>

    </div>

    <a name="IoT"></a>
    <div class="container text-light">
        <h2>Вы еще не знакомы с интернетом вещей?</h2>
        <p></p>
        <div class="history-text">
            <p>Интернет вещей (IoT) — это сеть физических устройств, которые подключены к другим устройствам и службам
                через Интернет или другую сеть и обмениваются с ними данными. В настоящее время в мире более миллиарда
                подключенных устройств, и с каждым годом их становится больше. Все, что можно оснастить датчиками
                и программным обеспечением, можно подключить через Интернет. Это упрощает современную жизнь, ведь доступ
                к любимым технологиям буквально растворен в воздухе, он легок и прост.</p><br>
        </div>
    </div>

    <div class="container text-light">
        <h2>Где же применяется "наш" интернет вещей?</h2>
        <div class="row mx-auto mt-3 text-center">
            <div class="col-xl my-2 mx-2 text-white">
                <img src="use/11.jpg" alt="" class="img-fluid float-sm-start mb-2 me-3" width="267" height="400">
                <p>Промышленность</p>
            </div>
            <div class="col-xl my-2 mx-2 text-white">
                <img src="use/22.jpg" alt="" class="img-fluid float-sm-start mb-2 me-3" width="310" height="400">
                <p>Система умного дома</p>
            </div>
            <div class="col-xl my-2 mx-2 text-white">
                <img src="use/3.jpg" alt="" class="img-fluid float-sm-start mb-2 me-3" width="600" height="400">
                <p>Логистика</p>
            </div>
            <p></p><br>
        </div>
    </div>
    <p style="margin-left: 5%;">и еще многое другое...</p><br>
    <a name="tour"></a>
    <div class="container text-light">
        <h2>Не бойтесь!</h2>
        <p>Наша компания нацелена на лучший результат, а для этого мы планируем каждый этап:</p>
        <ul class="history-list">
            <li class="history-li">Сбор и анализ требований</li>
            <li class="history-li">Согласование и утверждение требований</li>
            <li class="history-li">Проектирование модели</li>
            <li class="history-li">Предпоказ модели</li>
            <li class="history-li">Доработка модели</li>
            <li class="history-li">Согласование модели</li>
            <li class="history-li">Проектирование эталонного устройства</li>
        </ul>
        </ul><br>
    </div>
    </div>


    <div id="app">
        <a name="robots"></a>
        <div class="container text-light">
            <h2>А пока познакомьтесь с нашими роботами:</h2>
            <br>
        </div>
        <div class="container text-center text-light">
            <div id="members">
                <img class="button" src="left2.png" @click="leftbut" alt="Предыдущее фото">
                <img :src="getImagePath(schet-1)" id="fotoL" alt="Фото">
                <img :src="getImagePath(schet)" id="fotoC" alt="Фото">
                <img :src="getImagePath(schet+1)" id="fotoR" alt="Фото">
                <img class="button" src="right2.png" @click="rightbut" alt="Следующее фото">
            </div>
            <br>
            <ul class="list-unstyled members">
                <li :id="'mem_' + index" v-for="(member, index) in members" :key="index" v-text="member"></li>
            </ul>
        </div>
        <br>
    </div>

    <div id="send">
        <a name="bytikets"></a><br>
        <div class="container text-center text-light">
            <h2>Остались вопросы?</h2>
            <p>Оставьте свой email, чтобы мы легко и оперативно могли связаться с вами!</p>
            <br>
            <form @submit.prevent="sendData">
                <fieldset>
                    <label for="email" style="color:black">email<em>*</em></label>
                    <input type="email" v-model="email" id="email" placeholder="robotplus@mail.com" required>
                </fieldset>
                <br>
                <input type="submit" name="send" value="Отправить" style="background-color:#e3f2fd;">
            </form>
            <br><br>
        </div>
    </div>

</section>

<footer class="spectrum-bg-foot text-light">
    <div class="d-flex justify-content-center align-items-center">
        <div style="position:relative;overflow:hidden;"><a
                href="https://yandex.ru/maps/org/redmadrobot/25974313468/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">РоботПлюс</a><a
                href="https://yandex.ru/maps/2/saint-petersburg/category/software_companies/184105776/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">Программное обеспечение в
            Санкт‑Петербурге</a><a
                href="https://yandex.ru/maps/2/saint-petersburg/category/it_company/184106174/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:28px;">IT-компания в Санкт‑Петербурге</a>
            <iframe src="https://yandex.ru/map-widget/v1/?ll=30.288243%2C59.937162&mode=search&oid=25974313468&ol=biz&sll=30.245033%2C59.956793&sspn=0.397981%2C0.119525&text=%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%80%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D1%80%D0%BE%D0%B1%D0%BE%D1%82%D0%BE%D0%B2&z=11.86"
                    width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
        <div style="width:560px;height:400px;overflow:hidden;position:relative;">
            <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box"
                    src="https://yandex.ru/maps-reviews-widget/25974313468?comments"></iframe>
            <a href="https://yandex.ru/maps/org/redmadrobot/25974313468/" target="_blank"
               style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Redmadrobot
                на карте Санкт‑Петербурга — Яндекс Карты</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="mb-4 ml-5 my-3">
                    <a href="#" class="link-dark py-2 d-block text-dark">О нас</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="mb-4 my-3">
                    <a href="#" class="py-2 d-block text-dark">Контакты</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="mb-4 my-3">
                    <a href="#" class="py-2 d-block text-dark">Сотрудничество</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="script.js"></script>
</body>
</html>
